@use "../../Styles/" as *;

.section-courses
{
    padding: 175px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;

    @include mobile
    {
        padding: 115px 0px 45px 0px;
        gap: 2em;
    }

    &__filters-buttons
    {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        @include mobile
        {
            width: 86%;
        }
        &__seeker-container
        {
            & > input
            {
                background-color: $TURQUOISE;
                font-family: $TEXT;
                font-size: 20px;

                @include mobile
                {
                    font-size: 16px;
                    width: 100%;
                }
            }
            @include mobile
                {
                    width: 100%;
                }
        }
        &__order-by
        {
            font-size: 20px;
            font-family: $PARAGRAPH;
            background-color: $TURQUOISE;
            border: 0;
            border-radius: 5px;
            padding: 0px 12px;
            cursor: pointer;
            & > option {
                @include mobile {
                    font-size: 12px;
                }
            }
        }
        & > div
        {
            background-color: $TURQUOISE;
            display: flex;
            align-items: center;
            padding: 0.7em 2em;
            border-radius: 5px;
            @include mobile
            {
                padding: 0.5em 0.5em;
            }
            & > svg
            {
                font-size: 20px;
                font-weight: bold;
                @include mobile
                {
                    font-size: 18px;
                }
            }
        }
        & > div:nth-child(2), & > div:nth-child(3)
        {
            gap: 0.6em;
            cursor: pointer;

            & > p
            {
                font-family: $TEXT;
                font-size: 20px;
                font-weight: bold;
                @include mobile
                {
                    display: none;
                }
            }
        }
    }
    &__courses-cards
    {
        width: 52%;
        display: flex;
        flex-direction: column;
        gap: 5em;
        @include mobile
        {
            width: 86%;
        }
    }
    &__pagination
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 68%;
        @include mobile
        {
            width: 86%;
        }
        & > button
        {
            background-color: $TURQUOISE;
            font-size: 26px;
            font-family: $TEXT;
            border-radius: 8px;
            border: 0;
            cursor: pointer;
            &:disabled {
                cursor: not-allowed;
            }
            @include mobile
            {
                font-size: 20px;
            }
        }
        & > button:nth-child(1)
        {
            text-align: start;
            padding: 0.5em 2em 0.5em 0.3em;
            @include mobile
            {
                padding: 0.3em 1em 0.3em 0.3em;
            }
        }
        & > button:nth-child(2)
        {
            text-align: end;
            padding: 0.5em 0.3em 0.5em 2em;
            @include mobile
            {
                padding: 0.3em 0.3em 0.3em 1em;
            }
        }
    }
    &__section-form 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 30px 50px;
        background-color: $TURQUOISE;
        border-radius: 7px;
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            padding: 30px 20px;
            gap: 20px;
            border-radius: 5px;
        }
        & > select
        {
            font-size: 20px;
            font-family: $PARAGRAPH;
            background-color: $CANTALOUPE;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            @include mobile {
                font-size: 16px;
            }
            & > option {
                @include mobile {
                    font-size: 12px;
                }
            }
        }
    }
}