@use "../../Styles/" as *;

.section-profile
{
    padding: 175px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
        padding: 120px 0px 50px 0px;
    }
    &__profile-container
    {
        width: 72%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        @include mobile {
            width: 85%;
        }

        &__welcome-text
        {
            margin: 0;
            font-size: 38px;
            font-family: $TITLES;
            text-align: justify;
            @include mobile {
                font-size: 28px;
            }
        }

        &__paragraph
        {
            font-size: 30px;
            font-family: $PARAGRAPH;
            text-align: justify;
            @include mobile {
                font-size: 20px;
            }
        }

        &__options-buttons
        {
            width: 50%;
            display: flex;
            flex-direction: row;
            gap: 2.5em;
            @include mobile {
                width: 100%;
                justify-content: center;
            }
            
            & > button
            {
                border: 0;
                background-color: #0ABAC2;
                font-size: 21px;
                padding: 0.5em;
                border-radius: 7px;
                cursor: pointer;
                transition: box-shadow 0.3s ease;
                display: flex;
                justify-content: center;
                gap: 5px;
                @include mobile {
                    text-indent: -9999px;
                    gap: 0;
                }
            }

            & > button:hover
            {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            }
            
            &__edit-button{}
            &__delete-button{}
            &__logout-button
            {
                align-self: flex-end;
            }
        }
        &__link-admin-container
        {
            font-size: 22px;
            text-decoration: underline;
            font-family: $TEXT;
            font-weight: bold;
        }

        &__reviews-list
        {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            @include mobile {
                align-items: center;
            }
            &__title
            {
                margin: 0;
                font-size: 30px;
                font-family: $TITLES;
                text-align: justify;
            }
            &__review-card
            {
                width: 60%;
                background-color: $CANTALOUPE;
                border-radius: 7px;
                padding: 1.5em;
                display: flex;
                flex-direction: column;
                gap: 0.7em;
                @include mobile {
                    width: 100%;
                    padding: 0.8em 0;
                    align-items: center;
                }
                &__name-rating-container
                {
                    display: flex;
                    justify-content: space-between;
                    @include mobile {
                        flex-direction: column;
                    }
                    &__name-author
                    {
                        display: flex;
                        flex-direction: column;
                        @include mobile {
                            align-items: center;
                            text-align: center;
                        }
                        & > p:nth-child(1)
                        {
                            font-size: 25px;
                            font-family: $TITLES;
                            @include mobile {
                                font-size: 22px;
                            }
                        }
                        & > p:nth-child(2)
                        {
                            font-size: 20px;
                            font-family: $TEXT;
                        }
                    }

                    &__rating
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 5px;
                        @include mobile {
                            justify-content: center;
                        }
                        & > svg
                        {
                            font-size: 22px;
                        }
                        & > p
                        {
                            font-size: 20px;
                            font-family: $TEXT;
                        }
                    }
                }

                &__user-rating
                {
                    font-size: 20px;
                    font-family: $TEXT;
                }
                &__allReview-button
                {
                    border: 0;
                    background-color: #0ABAC2;
                    font-size: 21px;
                    padding: 0.5em;
                    border-radius: 7px;
                    cursor: pointer;
                    transition: box-shadow 0.3s ease;
                    width: 20%;
                    @include mobile {
                        justify-content: center;
                        width: 80%;
                    }
                }
                &__allReview-button:hover
                {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
                }
            }
            &__withoutReview
            {
                font-size: 22px;
                font-family: $TEXT;
            }
        }

    }
    .section-form
    {
        background-color: $TURQUOISE;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 30px 50px;
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            padding: 30px 20px;
            gap: 20px;
        }
        & > div
        {
            display: flex;
            flex-direction: column;
            & > label
            {
                margin-bottom: 8px;
                font-size: 24px;
                font-family: $TEXT;
                @include mobile {
                    font-size: 16px;
                }
            }
            & > input
            {
                font-size: 20px;
                font-family: $PARAGRAPH;
                border: 0;
                background-color: transparent;
                border-bottom: 6px solid $CANTALOUPE;
                @include mobile {
                    font-size: 16px;
                }
            }
        }
    }
}